# Database Credentials for Docker
MSSQL_SA_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

# Connection Strings for .NET Application
ConnectionStrings__SqlServerConnection=
ConnectionStrings__MySqlConnection=
ConnectionStrings__MongoDbConnection=

# External APIs
DuffelApi__BaseUrl=
DuffelApi__AccessToken=
ExchangeRateApiKey=
